In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
!pip install panda

Requirement already satisfied: panda in c:\users\user\downloads\new folder\lib\site-packages (0.3.1)
Requirement already satisfied: setuptools in c:\users\user\downloads\new folder\lib\site-packages (from panda) (68.2.2)
Requirement already satisfied: requests in c:\users\user\downloads\new folder\lib\site-packages (from panda) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\downloads\new folder\lib\site-packages (from requests->panda) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\downloads\new folder\lib\site-packages (from requests->panda) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\downloads\new folder\lib\site-packages (from requests->panda) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\downloads\new folder\lib\site-packages (from requests->panda) (2024.2.2)

In [3]:
file = 'C:\\Users\\user\\OneDrive - King Abdullaziz University\\Desktop\\Dev\\AI\\data.csv'
df = pd.read_csv(file, encoding='latin1')
df = pd.DataFrame(df)

In [4]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [5]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
df = df.drop('CustomerID',axis=1)

In [7]:
num_col = df.select_dtypes(include=["number"]).columns.tolist()
cat_col = df.select_dtypes(include=["object"]).columns.tolist()
print(cat_col)
print(num_col)
for col in cat_col:
    mode_value = df[col].mode()[0]
    df[col].fillna(mode_value,inplace=True)

for col in num_col:
    df[col].fillna(df[col].mean(),inplace=True)

['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country']
['Quantity', 'UnitPrice']

In [8]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,United Kingdom
...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,France

In [9]:
duplicate_rows = df.duplicated()
duplicate_rows.sum()

5268

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,United Kingdom
...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,France

In [12]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [13]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom
...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,France

In [14]:
df.describe()

            Quantity                    InvoiceDate      UnitPrice
count  536641.000000                         536641  536641.000000
mean        9.620029  2011-07-04 08:57:06.087421952       4.632656
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 10:52:00       1.250000
50%         3.000000            2011-07-19 14:04:00       2.080000
75%        10.000000            2011-10-18 17:05:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       219.130156                            NaN      97.233118

In [15]:
df.describe(include=['object'])

       InvoiceNo StockCode                         Description         Country
count     536641    536641                              536641          536641
unique     25900      4070                                4223              38
top       573585    85123A  WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
freq        1114      2301                                3811          490300

In [16]:
df['Country'].value_counts(normalize=True) * 100

Country
United Kingdom          91.364618
Germany                  1.766544
France                   1.591567
EIRE                     1.525042
Spain                    0.471078
Netherlands              0.441822
Belgium                  0.385546
Switzerland              0.371571
Portugal                 0.281380
Australia                0.234421
Norway                   0.202370
Italy                    0.149634
Channel Islands          0.141063
Finland                  0.129509
Cyprus                   0.113856
Sweden                   0.085905
Unspecified              0.082364
Austria                  0.074724
Denmark                  0.072488
Japan                    0.066711
Poland                   0.063543
Israel                   0.054785
USA                      0.054226
Hong Kong                0.052922
Singapore                0.042673
Iceland                  0.033915
Canada                   0.028138
Greece                   0.027206
Malta                    0.023666
United Arab Emirates     0.012671
European Community       0.011367
RSA                      0.010808
Lebanon                  0.008385
Lithuania                0.006522
Brazil                   0.005963
Czech Republic           0.005590
Bahrain                  0.003541
Saudi Arabia             0.001863
Name: proportion, dtype: float64

In [17]:
df['Description'].value_counts(normalize=True) * 100

Description
WHITE HANGING HEART T-LIGHT HOLDER     0.710158
REGENCY CAKESTAND 3 TIER               0.407908
JUMBO BAG RED RETROSPOT                0.401758
PARTY BUNTING                          0.320512
LUNCH BAG RED RETROSPOT                0.302810
                                         ...
rcvd be air temp fix for dotcom sit    0.000186
SET 12 COLOURING PENCILS DOILEY        0.000186
SET 36 COLOURING PENCILS DOILEY        0.000186
 I LOVE LONDON MINI RUCKSACK           0.000186
found some more on shelf               0.000186
Name: proportion, Length: 4223, dtype: float64

In [18]:
df['Year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month

year_counts = df['Year'].value_counts(normalize=True) * 100
month_counts = df['Month'].value_counts(normalize=True) * 100
df = df.drop(['Day', 'Hour'], axis=1, errors='ignore')
print("Transactions per Year:\n", year_counts)
print("")
print("\nTransactions per Month:\n", month_counts)

Transactions per Year:
 Year
2011    92.177079
2010     7.822921
Name: proportion, dtype: float64


Transactions per Month:
 Month
11    15.530494
12    12.527369
10    11.174882
9      9.291314
7      7.317182
5      6.854117
6      6.821879
3      6.790201
8      6.533977
1      6.503417
4      5.534613
2      5.120555
Name: proportion, dtype: float64

In [19]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Year,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom,2010,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom,2010,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,France,2011,12
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,France,2011,12
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,France,2011,12
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,France,2011,12
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,France,2011,12

In [20]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Year,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom,2010,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom,2010,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12

In [21]:
df['TotalSales'] = df['Quantity'] * df['UnitPrice']

In [22]:
total_sales_all_years = df['TotalSales'].sum()
sales_per_year = df.groupby('Year')['TotalSales'].sum().sort_values(ascending=False)
sales_per_month = df.groupby('Month')['TotalSales'].sum().sort_values(ascending=False)
print("TOTAL SALES OF ALL YEARS: \n", total_sales_all_years)
print("")
print("Total Sales per Year:\n", sales_per_year)
print("")
print("\nTotal Sales per Month:\n", sales_per_month)

TOTAL SALES OF ALL YEARS:
 9726006.953999998

Total Sales per Year:
 Year
2011    8979283.344
2010     746723.610
Name: TotalSales, dtype: float64


Total Sales per Month:
 Month
11    1456145.800
12    1179424.670
10    1069368.230
9     1017596.682
5      722094.100
6      689977.230
3      682013.980
8      681386.460
7      680156.991
1      558448.560
2      497026.410
4      492367.841
Name: TotalSales, dtype: float64

In [23]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country,Year,Month,TotalSales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom,2010,12,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom,2010,12,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom,2010,12,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,France,2011,12,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,France,2011,12,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,France,2011,12,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,France,2011,12,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,France,2011,12,14.85

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
if 'InvoiceDate' in df.columns:
    df = df.drop('InvoiceDate', axis=1)

In [26]:
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Country,Year,Month,TotalSales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,United Kingdom,2010,12,15.30
1,536365,71053,WHITE METAL LANTERN,6,3.39,United Kingdom,2010,12,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,United Kingdom,2010,12,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,United Kingdom,2010,12,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,United Kingdom,2010,12,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France,2011,12,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,France,2011,12,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France,2011,12,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France,2011,12,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,France,2011,12,14.85

In [27]:
country_to_continent = {
    'United Kingdom': 'Europe',
    'Germany': 'Europe',
    'France': 'Europe',
    'EIRE': 'Europe',
    'Spain': 'Europe',
    'Netherlands': 'Europe',
    'Belgium': 'Europe',
    'Switzerland': 'Europe',
    'Portugal': 'Europe',
    'Australia': 'Other',
    'Norway': 'Europe',
    'Italy': 'Europe',
    'Channel Islands': 'Europe',
    'Finland': 'Europe',
    'Cyprus': 'Europe',
    'Sweden': 'Europe',
    'Austria': 'Europe',
    'Denmark': 'Europe',
    'Japan': 'Other',
    'Poland': 'Europe',
    'Palestine': 'Other',  # Replaced Israel with Palestine
    'USA': 'Other',
    'Hong Kong': 'Other',
    'Singapore': 'Other',
    'Iceland': 'Europe',
    'Canada': 'Other',
    'Greece': 'Europe',
    'Malta': 'Europe',
    'United Arab Emirates': 'Other',
    'European Community': 'Europe',
    'RSA': 'Other',
    'Lebanon': 'Other',
    'Lithuania': 'Europe',
    'Brazil': 'Other',
    'Czech Republic': 'Europe',
    'Bahrain': 'Other',
    'Saudi Arabia': 'Other'
}
df = df[df['Country'] != 'Unspecified']

df['Continent'] = df['Country'].map(country_to_continent)

In [28]:
df = df.drop('Country',axis=1)

In [29]:
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Year,Month,TotalSales,Continent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,2010,12,15.30,Europe
1,536365,71053,WHITE METAL LANTERN,6,3.39,2010,12,20.34,Europe
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,2010,12,22.00,Europe
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,2010,12,20.34,Europe
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,2010,12,20.34,Europe
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,2011,12,10.20,Europe
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,2011,12,12.60,Europe
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,2011,12,16.60,Europe
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,2011,12,16.60,Europe
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,2011,12,14.85,Europe

In [30]:

cat_col2 = df.select_dtypes(include=["object"]).columns.tolist()
print(cat_col2)

['InvoiceNo', 'StockCode', 'Description', 'Continent']

In [31]:
df= df.drop('Description',axis=1)
df= df.drop('StockCode',axis=1)
df= df.drop('InvoiceNo',axis=1)

In [32]:
df

        Quantity  UnitPrice  Year  Month  TotalSales Continent
0              6       2.55  2010     12       15.30    Europe
1              6       3.39  2010     12       20.34    Europe
2              8       2.75  2010     12       22.00    Europe
3              6       3.39  2010     12       20.34    Europe
4              6       3.39  2010     12       20.34    Europe
...          ...        ...   ...    ...         ...       ...
541904        12       0.85  2011     12       10.20    Europe
541905         6       2.10  2011     12       12.60    Europe
541906         4       4.15  2011     12       16.60    Europe
541907         4       4.15  2011     12       16.60    Europe
541908         3       4.95  2011     12       14.85    Europe

[536199 rows x 6 columns]

In [33]:
df['Continent'].value_counts(normalize=True) * 100

Continent
Europe    99.47696
Other      0.52304
Name: proportion, dtype: float64

In [34]:
df = pd.get_dummies(df, columns= ['Continent'])

In [35]:
df['Continent_Europe'] = df['Continent_Europe'].astype(int)
df['Continent_Other'] = df['Continent_Other'].astype(int)

In [36]:
df

,Quantity,UnitPrice,Year,Month,TotalSales,Continent_Europe,Continent_Other
0,6,2.55,2010,12,15.30,1,0
1,6,3.39,2010,12,20.34,1,0
2,8,2.75,2010,12,22.00,1,0
3,6,3.39,2010,12,20.34,1,0
4,6,3.39,2010,12,20.34,1,0
...,...,...,...,...,...,...,...
541904,12,0.85,2011,12,10.20,1,0
541905,6,2.10,2011,12,12.60,1,0
541906,4,4.15,2011,12,16.60,1,0
541907,4,4.15,2011,12,16.60,1,0
541908,3,4.95,2011,12,14.85,1,0

### ---------------------------------------------------------------------------------------------------------------------------------- ###

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df.drop(['TotalSales'],axis=1)
y = df['TotalSales']

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3)

print('X_train shape: ', X_train.shape)
print('y_train shape: ', y_train.shape)
print('X_test shape: ', X_test.shape)
print('y_test shape: ', y_test.shape)

X_train shape:  (375339, 6)
y_train shape:  (375339,)
X_test shape:  (160860, 6)
y_test shape:  (160860,)

In [38]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\user\downloads\new folder\lib\site-packages (2.16.1)
Requirement already satisfied: tensorflow-intel==2.16.1 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow) (2.16.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.20.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.31.0)
Requirement already satisfied: setuptools in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (68.2.2)
Requirement already satisfied: six>=1.12.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (4.9.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.64.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.3.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.31.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\users\user\downloads\new folder\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\user\downloads\new folder\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.16.1->tensorflow) (0.41.2)
Requirement already satisfied: rich in c:\users\user\downloads\new folder\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (13.3.5)
Requirement already satisfied: namex in c:\users\user\downloads\new folder\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.0.8)
Requirement already satisfied: optree in c:\users\user\downloads\new folder\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\downloads\new folder\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\downloads\new folder\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\downloads\new folder\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\downloads\new folder\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2024.2.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\user\downloads\new folder\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\user\downloads\new folder\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\user\downloads\new folder\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (2.2.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\user\downloads\new folder\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\user\downloads\new folder\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\user\downloads\new folder\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\user\downloads\new folder\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.1.0)

In [39]:
import tensorflow as tf

In [41]:
from tensorflow.keras import layers, models, callbacks, optimizers
from tensorflow.keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import StandardScaler

# Normalize the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Define the model
model = Sequential()
model.add(Dense(128, input_dim=X_train_scaled.shape[1], activation='relu'))
model.add(layers.Dropout(0.3))  # Dropout layer
model.add(Dense(64, activation='relu'))
model.add(layers.BatchNormalization())  # Batch normalization
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 128)                 │             896 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout (Dropout)                    │ (None, 128)                 │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 64)                  │           8,256 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ batch_normalization                  │ (None, 64)                  │             256 │
│ (BatchNormalization)                 │                             │                 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_3 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 11,521 (45.00 KB)

 Trainable params: 11,393 (44.50 KB)

 Non-trainable params: 128 (512.00 B)

In [44]:
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau

# Normalize the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Define callbacks
early_stopping = EarlyStopping(monitor='val_loss', patience=15, restore_best_weights=True)
reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=5, min_lr=0.0001)

# Train the model
model.fit(X_train_scaled, y_train, validation_data=(X_test_scaled, y_test), epochs=50, batch_size=64, callbacks=[early_stopping, reduce_lr])

Epoch 1/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 17s 2ms/step - loss: 130612.7812 - val_loss: 24974.2148 - learning_rate: 0.0010
Epoch 2/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 2ms/step - loss: 68472.1562 - val_loss: 36835.5234 - learning_rate: 0.0010
Epoch 3/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 14s 2ms/step - loss: 54972.7656 - val_loss: 136054.8906 - learning_rate: 0.0010
Epoch 4/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 14s 2ms/step - loss: 60206.3984 - val_loss: 73541.9141 - learning_rate: 0.0010
Epoch 5/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 2ms/step - loss: 160511.5156 - val_loss: 10300.9385 - learning_rate: 0.0010
Epoch 6/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 109947.7656 - val_loss: 27629.3223 - learning_rate: 0.0010
Epoch 7/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 183096.3281 - val_loss: 77888.5547 - learning_rate: 0.0010
Epoch 8/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 263230.5625 - val_loss: 45931.9375 - learning_rate: 0.0010
Epoch 9/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 116110.3984 - val_loss: 95363.5156 - learning_rate: 0.0010
Epoch 10/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 35855.3945 - val_loss: 141724.0000 - learning_rate: 0.0010
Epoch 11/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 53198.7734 - val_loss: 77674.5703 - learning_rate: 2.0000e-04
Epoch 12/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 90224.3594 - val_loss: 122083.9844 - learning_rate: 2.0000e-04
Epoch 13/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 71416.3047 - val_loss: 122939.5703 - learning_rate: 2.0000e-04
Epoch 14/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 73576.1328 - val_loss: 43204.6016 - learning_rate: 2.0000e-04
Epoch 15/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 16s 3ms/step - loss: 39381.1250 - val_loss: 117639.0234 - learning_rate: 2.0000e-04
Epoch 16/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 16s 3ms/step - loss: 55293.9141 - val_loss: 102780.6797 - learning_rate: 1.0000e-04
Epoch 17/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 16s 3ms/step - loss: 196704.9062 - val_loss: 121318.9453 - learning_rate: 1.0000e-04
Epoch 18/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 16s 3ms/step - loss: 97909.9766 - val_loss: 120249.8359 - learning_rate: 1.0000e-04
Epoch 19/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 16s 3ms/step - loss: 65268.7266 - val_loss: 150636.4062 - learning_rate: 1.0000e-04
Epoch 20/50
5865/5865 ━━━━━━━━━━━━━━━━━━━━ 15s 3ms/step - loss: 222981.5156 - val_loss: 125612.4844 - learning_rate: 1.0000e-04

In [46]:
preds = model.predict(X_test).reshape(-1,)
res = pd.DataFrame()
res['Actual'] = y_test.values
res['Preds'] = preds
res

5027/5027 ━━━━━━━━━━━━━━━━━━━━ 5s 1ms/step

        Actual      Preds
0        17.40  13.537364
1        12.60  12.621474
2         4.89  10.299846
3         3.29  12.676679
4         2.95  10.584121
...        ...        ...
160855   15.00  12.244151
160856   17.70  14.700578
160857    8.50  12.034956
160858   10.50  16.279753
160859   49.92  33.112705

[160860 rows x 2 columns]

In [47]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Normalize the features (X)
scaler = StandardScaler()
X_normalized = scaler.fit_transform(X)

# Use K-Means clustering to cluster the normalized features into distinct market segments
kmeans = KMeans(n_clusters=3, random_state=42)  # Choose the number of segments (clusters)
clusters = kmeans.fit_predict(X_normalized)

# Add the clusters to the original DataFrame and analyze the characteristics of each segment
df['Segment'] = clusters

# Analyze the resulting segments
segment_analysis = df.groupby('Segment').mean()

print(segment_analysis)

          Quantity  UnitPrice         Year      Month  TotalSales  \
Segment
0         9.557711   4.358392  2011.000000   7.172052   17.942852
1        44.599358  15.956268  2010.964324   6.361755   72.493029
2         8.033188   7.113807  2010.000024  11.999857   16.687484

         Continent_Europe  Continent_Other
Segment
0                0.999406              0.0
1                0.000000              1.0
2                0.999952              0.0

### Segment 0 (Average Buyers in Europe):

Marketing Strategy: Focus on maintaining customer loyalty with discounts and loyalty programs.
Product Development: Offer products that meet the standard expectations and preferences of European customers.
Business Strategy: Enhance customer service and after-sales support to retain these customers.


### Segment 1 (High-Spenders in Other Continents):

Marketing Strategy: Use premium marketing strategies, such as personalized offers and exclusive deals.
Product Development: Develop high-end products with premium features and quality.
Business Strategy: Invest in targeted advertising campaigns and partnerships with influencers to attract more high-spenders.


### Segment 2 (Occasional Buyers in Europe):

Marketing Strategy: Increase engagement through seasonal promotions and targeted advertising.
Product Development: Offer products that cater to occasional needs and unique demands.
Business Strategy: Create awareness campaigns to convert occasional buyers into regular customers. */

## Documentation:

1. Choice of Dataset
The dataset used for this project includes various features such as Quantity, UnitPrice, and i couldn't use describtion ,but country i make groubing  (Continent_Europe, Continent_Other) and i made total sales. alos, date i made it column for year and month 

2. Exploratory Data Analysis (EDA)
Dataset Overview: Initial examination of the dataset to understand the structure and distribution of features.
Descriptive Statistics: Calculation of mean, median, and standard deviation for numerical features.
Correlation Analysis: Checking correlations between features to identify significant relationships.
3. Data Preprocessing
Feature Selection: The 'TotalSales' column was selected as the target variable for the model.
Data Splitting: The dataset was split into training and testing sets using an 80-20 ratio.
Scaling: Features were scaled using StandardScaler to normalize the data, which is important for neural network performance.
4. Neural Network Development
Model Architecture:
Input Layer: Size matching the number of features.
Hidden Layers: Three dense layers with 128, 64, and 32 neurons respectively, using ReLU activation.
Output Layer: A single neuron with linear activation for regression.
Additional Layers: Dropout and Batch Normalization to improve generalization and stability.
Compilation: The model was compiled using the Adam optimizer and mean squared error (MSE) as the loss function.
Training: The model was trained for 50 epochs with early stopping and learning rate reduction callbacks to prevent overfitting and improve convergence.
6. Model Evaluation
Metrics: The model's performance was evaluated using MSE on the validation set.
Performance: The final model showed better prediction accuracy compared to earlier attempts with consistent loss reduction.
7. Market Segmentation
Predictions: The trained model was used to predict 'TotalSales' for the entire dataset.
Clustering: K-Means clustering was applied to the predictions to segment the market into distinct groups.
Segment Analysis: Each segment was analyzed to understand the characteristics, leading to insights on customer behavior and preferences.
8. Insights and Recommendations
Segment Characteristics:
Segment 0: Average buyers with moderate spending.
Segment 1: High-value buyers with significantly higher spending.
Segment 2: Lower spending, likely casual buyers.